[BASIC]

# Reason of the good names:
# - _
#   often used as dummy variable during unpacking
# - T
#   often used to for TypeVar
# - f
#   often used as a file stream name
# - i, j, k
#   often used in for loops
# - s
#   often used to represent "string"
# - v
#   often used to represent "value"
# - dt, tz
#   often used in datetime handling (dt for datetime, tz for timezone)
# - ex
#   often used as the var name of exception caught by try..except
# - fn
#   often used to represent a function address

good-names=_,T,f,i,j,k,s,v,dt,ex,fn,tz

[FORMAT]

max-line-length=119
